<!-- SideNav Desktop -->
<ul class="menu p-2 mt-3 shadow-lg rounded-box hidden md:grid flex-grow h-fit bg-white md:visible justify-self-end text-xl md:w-fit lg:w-56 z-10">
    <li>
      <a href="/schedule/2022<%= time.getMonth() + 1 %>">
          <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z"/></svg>
        Schedule
      </a>
    </li>
    <!-- Standings -->
    <li tabindex="0">
      <span>
        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M353.8 54.1L330.2 6.3c-3.9-8.3-16.1-8.6-20.4 0L286.2 54.1l-52.3 7.5c-9.3 1.4-13.3 12.9-6.4 19.8l38 37-9 52.1c-1.4 9.3 8.2 16.5 16.8 12.2l46.9-24.8 46.6 24.4c8.6 4.3 18.3-2.9 16.8-12.2l-9-52.1 38-36.6c6.8-6.8 2.9-18.3-6.4-19.8l-52.3-7.5zM256 256c-17.7 0-32 14.3-32 32V480c0 17.7 14.3 32 32 32H384c17.7 0 32-14.3 32-32V288c0-17.7-14.3-32-32-32H256zM32 320c-17.7 0-32 14.3-32 32V480c0 17.7 14.3 32 32 32H160c17.7 0 32-14.3 32-32V352c0-17.7-14.3-32-32-32H32zm416 96v64c0 17.7 14.3 32 32 32H608c17.7 0 32-14.3 32-32V416c0-17.7-14.3-32-32-32H480c-17.7 0-32 14.3-32 32z"/></svg>
        Standings
      </span>
      <ul class="rounded-box pt-4 pb-4 px-2 bg-base-100 text-sm shadow-lg w-100">
        <div class="flex w-full gap-1">
          <div class="grid h-fit flex-grow card bg-base-100 rounded-box place-items-center">
            <li class="menu-title">
              <span class="text-start">Eastern</span>
              <% for(var i=0; i<eastTeams.length; i++) {%>
                  <li>
                    <a href="/team/<%= eastTeams[i].id %>">
                      <span><%= eastTeams[i].rank.conference %></span>
                      <%= eastTeams[i].name %>
                    </a>
                  </li>
              <% } %>
            </li>
          </div>
          <div class="grid h-fit flex-grow card bg-base-100 rounded-box text-end">
            <li class="menu-title">
              <span class="text-start">Western</span>
              <% for(var i=0; i<westTeams.length; i++) {%>
                <li>
                  <a href="/team/<%= westTeams[i].id %>">
                    <span><%= westTeams[i].rank.conference %></span>
                    <%= westTeams[i].name %>
                  </a>
                </li>
            <% } %>
            </li>
          </div>
        </div>
      </ul>
    </li>
    <li tabindex="0">
      <span>
        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M184 88c0 30.9-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56zM64 245.7C54 256.9 48 271.8 48 288s6 31.1 16 42.3V245.7zm144.4-49.3C178.7 222.7 160 261.2 160 304c0 34.3 12 65.8 32 90.5V416c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V389.2C26.2 371.2 0 332.7 0 288c0-61.9 50.1-112 112-112h32c24 0 46.2 7.5 64.4 20.3zM448 416V394.5c20-24.7 32-56.2 32-90.5c0-42.8-18.7-81.3-48.4-107.7C449.8 183.5 472 176 496 176h32c61.9 0 112 50.1 112 112c0 44.7-26.2 83.2-64 101.2V416c0 17.7-14.3 32-32 32H480c-17.7 0-32-14.3-32-32zM568 88c0 30.9-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56s56 25.1 56 56zm8 157.7v84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM320 160c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64zM240 304c0 16.2 6 31 16 42.3V261.7c-10 11.3-16 26.1-16 42.3zm144-42.3v84.7c10-11.3 16-26.1 16-42.3s-6-31.1-16-42.3zM448 304c0 44.7-26.2 83.2-64 101.2V448c0 17.7-14.3 32-32 32H288c-17.7 0-32-14.3-32-32V405.2c-37.8-18-64-56.5-64-101.2c0-61.9 50.1-112 112-112h32c61.9 0 112 50.1 112 112z"/></svg>
        Teams
      </span>
      <ul class="rounded-box pt-4 pb-4 px-2 bg-base-100 text-sm shadow-lg">
        <div class="flex w-full gap-1">
          <div class="grid h-fit flex-grow card bg-base-100 rounded-box place-items-center">
            <li class="menu-title">
              <span>Atlantic</span>
            </li>
            <% for(var i=0; i<eastConf.length; i++) {%>
            <% for(var j=0; j<eastConf[i].teams.length; j++) {%>
              <% if(eastConf[i].name === 'Atlantic') { %>
                <li><a href="/team/<%= eastConf[i].teams[j].id %>"><%= eastConf[i].teams[j].name %></a></li>
              <% } %>
            <% } %>
            <% } %>
          </div>
          <div class="grid h-fit flex-grow card bg-base-100 rounded-box text-end">
            <li class="menu-title">
              <span>Central</span>
            </li>
            <% for(var i=0; i<eastConf.length; i++) {%>
            <% for(var k=0; k<eastConf[i].teams.length; k++) {%>
              <% if(eastConf[i].name === 'Central') { %>
                <li><a href="/team/<%=  eastConf[i].teams[k].id %>" class="justify-end"><%= eastConf[i].teams[k].name %></a></li>
                <% } %>
            <% } %>
            <% } %>
          </div>
        </div>
        <div class="flex w-full gap-1">
          <div class="grid h-fit flex-grow card bg-base-100 rounded-box place-items-center">
            <li class="menu-title">
              <span>Northwest</span>
            </li>
          <% for(var i=0; i<westConf.length; i++) {%>
          <% for(var j=0; j<westConf[i].teams.length; j++) {%>
            <% if(westConf[i].name === 'Northwest') { %>
              <li><a href="/team/<%= westConf[i].teams[j].id %>"><%= westConf[i].teams[j].name %></a></li>
              <% } %>
          <% } %>
          <% } %>
          </div>
          <div class="grid h-fit flex-grow card bg-base-100 rounded-box text-end">
            <li class="menu-title">
              <span>Pacific</span>
            </li>
          <% for(var i=0; i<westConf.length; i++) {%>
          <% for(var k=0; k<westConf[i].teams.length; k++) {%>
            <% if(westConf[i].name === 'Pacific') { %>
              <li><a href="/team/<%= westConf[i].teams[k].id %>" class="justify-end"><%= westConf[i].teams[k].name %></a></li>
              <% } %>
          <% } %>
          <% } %>
          </div>
        </div>
        <div class="flex w-full gap-1">
          <div class="grid h-fit flex-grow card bg-base-100 rounded-box place-items-center">
            <li class="menu-title">
              <span>Southeast</span>
            </li>
          <% for(var i=0; i<eastConf.length; i++) {%>
          <% for(var j=0; j<eastConf[i].teams.length; j++) {%>
            <% if(eastConf[i].name === 'Southeast') { %>
              <li><a href="/team/<%= eastConf[i].teams[j].id %>"><%= eastConf[i].teams[j].name %></a></li>
              <% } %>
          <% } %>
          <% } %>
          </div>
          <div class="grid h-fit flex-grow card bg-base-100 rounded-box text-end">
            <li class="menu-title">
              <span>Southwest</span>
            </li>
          <% for(var i=0; i<westConf.length; i++) {%>
          <% for(var k=0; k<westConf[i].teams.length; k++) {%>
            <% if(westConf[i].name === 'Southwest') { %>
            <li><a href="/team/<%= westConf[i].teams[k].id %>" class="justify-end"><%= westConf[i].teams[k].name %></a></li>
            <% } %>
          <% } %>
          <% } %>
          </div>
        </div>
      </ul>
    </li>
    <li tabindex="0">
      <span>
        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M128 32h32c17.7 0 32 14.3 32 32V96H96V64c0-17.7 14.3-32 32-32zm64 96V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V388.9c0-34.6 9.4-68.6 27.2-98.3C40.9 267.8 49.7 242.4 53 216L60.5 156c2-16 15.6-28 31.8-28H192zm227.8 0c16.1 0 29.8 12 31.8 28L459 216c3.3 26.4 12.1 51.8 25.8 74.6c17.8 29.7 27.2 63.7 27.2 98.3V448c0 17.7-14.3 32-32 32H352c-17.7 0-32-14.3-32-32V128h99.8zM320 64c0-17.7 14.3-32 32-32h32c17.7 0 32 14.3 32 32V96H320V64zm-32 64V288H224V128h64z"/></svg>
        Watchlist
      </span>
      <ul class="rounded-box p-2 bg-base-100 text-sm shadow-lg">
        <div class="flex w-full gap-1">
          <div class="grid h-fit flex-grow card bg-base-100 rounded-box place-items-center">
            <li class="menu-title">
              <span>Players</span>
            </li>
            <% for(var i=0; i<players.length; i++) {%>
              <li>
                <a href="/player/<%= players[i].playerId %>">
                  <span><%= players[i].playerName %> <%= players[i].playerPosition %></span>
                </a>
              </li>

            <% } %>
          </div>
      </ul>
    </li>
    <li>
      <a href="/profile/<%= user.id %>">
        <svg class="w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
        Profile
      </a>
    </li>
  </ul>