<!--- Games today desktop--->
<div class="hidden md:grid h-fit card shadow-2xl bg-gray-300 rounded-box place-items-center mt-3 w-fit px-4 justify-self-start">
  <h2 class="font-bold text-lg p-2">Today's Games<h2>   
  <ul class="mb-4 grid lg:grid-cols-2 gap-3">
      <% if(gameInfo.scoreboard.games.length !== false) { %>
      <% for(var i=0; i<gameInfo.scoreboard.games.length; i++) { %>
        <div class="transform card w-100 bg-white shadow-xl transition duration-300 hover:scale-105">
          <div class="card-body p-3">
            <a class="w-100 flex flex-col gap-1" href="/boxscore/<%= gameInfo.scoreboard.games[i].gameId %>">
              <span class="w-100 text-black mb-2">
                <%= time.valueOf() >= Date.parse(gameInfo.scoreboard.games[i].gameTimeUTC) ? gameInfo.scoreboard.games[i].gameStatusText : (Number(gameInfo.scoreboard.games[i].gameEt.slice(11, 13)) - 12 + gameInfo.scoreboard.games[i].gameEt.slice(13, 16)) + 'pm E.T.' %>
              </span>
              <div class="flex justify-between gap-8">
                <span class="flex gap-1">
                  <% if(gameInfo.scoreboard.games[i].awayTeam.teamTricode === 'BKN') {%>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NJN.png" alt="<%= gameInfo.scoreboard.games[i].awayTeam.teamName %> Logo" class="h-7">
                  <% } else if(gameInfo.scoreboard.games[i].awayTeam.teamTricode === 'PHX') {%>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/PHO.png" alt="<%= gameInfo.scoreboard.games[i].awayTeam.teamName %> Logo" class="h-7">
                  <% } else if(gameInfo.scoreboard.games[i].awayTeam.teamTricode === 'NOP') {%>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NOH.png" alt="<%= gameInfo.scoreboard.games[i].awayTeam.teamName %> Logo" class="h-7">
                  <% } else { %>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= gameInfo.scoreboard.games[i].awayTeam.teamTricode %>.png" alt="<%= gameInfo.scoreboard.games[i].awayTeam.teamName %> Logo" class="h-7">
                  <% } %>
                  <li><%= gameInfo.scoreboard.games[i].awayTeam.teamTricode %></li>
                </span>
                <span><%= gameInfo.scoreboard.games[i].awayTeam.score %></span>
              </div>
              <span class="text-md">@</span>
              <div class="flex justify-between gap-3">
                <span class="flex gap-1">
                  <% if(gameInfo.scoreboard.games[i].homeTeam.teamTricode === 'BKN') {%>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NJN.png" alt="<%= gameInfo.scoreboard.games[i].homeTeam.teamName %> Logo" class="h-7">
                  <% } else if(gameInfo.scoreboard.games[i].homeTeam.teamTricode === 'PHX') {%>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/PHO.png" alt="<%= gameInfo.scoreboard.games[i].homeTeam.teamName %> Logo" class="h-7">
                  <% } else if(gameInfo.scoreboard.games[i].homeTeam.teamTricode === 'NOP') {%>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NOH.png" alt="<%= gameInfo.scoreboard.games[i].homeTeam.teamName %> Logo" class="h-7">
                  <% } else {%>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= gameInfo.scoreboard.games[i].homeTeam.teamTricode %>.png" alt="<%= gameInfo.scoreboard.games[i].homeTeam.teamName %> Logo" class="h-7">
                  <% } %>
                  <li><%= gameInfo.scoreboard.games[i].homeTeam.teamTricode %></li>
                </span>
                <span>
                  <%= gameInfo.scoreboard.games[i].homeTeam.score %>
                </span>
              </div>
            </a>
          </div>
        </div>
      <% } %>
      <% } else if(nextGames.length !== false ){ %>
        <% for(var i=0; i<nextGames.length; i++) {%>
          <% if((teams.find(team => team.teamId == nextGames[i].vTeam.teamId && team.isNBAFranchise === true)) && (teams.find(team => team.teamId == nextGames[i].vTeam.teamId && team.isNBAFranchise === true))) {%>
            <div class="card w-100 bg-white shadow-xl">
              <div class="card-body p-3">
                <span class="bg-base-300 text-black rounded-box px-2 text-center"><%= (time.valueOf() >= Date.parse(nextGames[i].startTimeUTC)) ? "LIVE" : nextGames[i].startTimeEastern %></span>
                <div class="flex gap-1">
                  <% if(teams.find(team => team.teamId === nextGames[i].vTeam.teamId).tricode === 'BKN') {%>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NJN.png" alt="<%= teams.find(team => team.teamId === nextGames[i].vTeam.teamId).nickname %> Logo" class="h-7">
                  <% } else if(teams.find(team => team.teamId === nextGames[i].vTeam.teamId).tricode === 'PHX') {%>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/PHO.png" alt="<%= teams.find(team => team.teamId === nextGames[i].vTeam.teamId).nickname %> Logo" class="h-7">
                  <% } else if(teams.find(team => team.teamId === nextGames[i].vTeam.teamId).tricode === 'NOP') {%>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NOH.png" alt="<%= teams.find(team => team.teamId === nextGames[i].vTeam.teamId).nickname %> Logo" class="h-7">
                  <% } else {%>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= teams.find(team => team.teamId === nextGames[i].vTeam.teamId).tricode %>.png" alt="<%= teams.find(team => team.teamId === nextGames[i].vTeam.teamId).nickname %> Logo" class="h-7">
                  <% } %>
                  <li><%= teams.find(team => team.teamId === nextGames[i].vTeam.teamId).tricode %> </li>
                </div>
                <span>@</span>
                <div class="flex gap-1">
                  <% if(teams.find(team => team.teamId === nextGames[i].hTeam.teamId).tricode === 'BKN') {%>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NJN.png" alt="<%= teams.find(team => team.teamId === nextGames[i].hTeam.teamId).nickname %> Logo" class="h-7">
                  <% } else if(teams.find(team => team.teamId === nextGames[i].hTeam.teamId).tricode === 'PHX') {%>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/PHO.png" alt="<%= teams.find(team => team.teamId === nextGames[i].hTeam.teamId).nickname %> Logo" class="h-7">
                  <% } else if(teams.find(team => team.teamId === nextGames[i].hTeam.teamId).tricode === 'NOP') {%>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NOH.png" alt="<%= teams.find(team => team.teamId === nextGames[i].hTeam.teamId).nickname %> Logo" class="h-7">
                  <% } else {%>
                  <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= teams.find(team => team.teamId === nextGames[i].hTeam.teamId).tricode %>.png" alt="<%= teams.find(team => team.teamId === nextGames[i].hTeam.teamId).nickname %> Logo" class="h-7">
                   <% } %>
                  <li><%= teams.find(team => team.teamId === nextGames[i].hTeam.teamId).tricode %></li>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>
      <% } else { %>
        <div class="card w-100 bg-white shadow-xl">
          <div class="card-body p-3">
            <p>No Games Today. Go vote!</p>
          </div>
        </div>
      <% } %>
    </ul>
</div>