<%- include('partials/header') -%>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5 px-5">

    <ul class="menu w-56 p-2 mt-3 rounded-box hidden md:grid flex-grow h-fit bg-white md:visible justify-self-end text-xl">
      <li><a href="/schedule/202210">Schedule</a></li>
      <li><a href="">Standings</a></li>
      <li tabindex="0">
        <span>Teams</span>
        <ul class="rounded-box p-2 bg-base-100 text-sm">
          <div class="flex w-full gap-1">
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box place-items-center">
              <li class="menu-title">
                <span>Atlantic</span>
              </li>
              <% for(var i=0; i<teams.length; i++) {%>
                <% if(teams[i].divName === 'Atlantic') { %>
                  <li><a href="/team/<%= teams[i].urlName %>"><%= teams[i].nickname %></a></li>
                <% } %>
              <% } %>
            </div>
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box text-end">
              <li class="menu-title">
                <span>Central</span>
              </li>
            <% for(var i=0; i<teams.length; i++) {%>
              <% if(teams[i].divName === 'Central') { %>
                <li><a href="/team/<%= teams[i].urlName %>" class="justify-end"><%= teams[i].nickname %></a></li>
                <% } %>
            <% } %>
            </div>
          </div>
          <div class="flex w-full gap-1">
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box place-items-center">
              <li class="menu-title">
                <span>Northwest</span>
              </li>
            <% for(var i=0; i<teams.length; i++) {%>
              <% if(teams[i].divName === 'Northwest') { %>
                <li><a href="/team/<%= teams[i].urlName %>"><%= teams[i].nickname %></a></li>
                <% } %>
            <% } %>
            </div>
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box text-end">
              <li class="menu-title">
                <span>Pacific</span>
              </li>
            <% for(var i=0; i<teams.length; i++) {%>
              <% if(teams[i].divName === 'Pacific') { %>
                <li><a href="/team/<%= teams[i].urlName %>" class="justify-end"><%= teams[i].nickname %></a></li>
                <% } %>
            <% } %>
            </div>
          </div>
          <div class="flex w-full gap-1">
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box place-items-center">
              <li class="menu-title">
                <span>Southeast</span>
              </li>
            <% for(var i=0; i<teams.length; i++) {%>
              <% if(teams[i].divName === 'Southeast') { %>
                <li><a href="/team/<%= teams[i].urlName %>"><%= teams[i].nickname %></a></li>
                <% } %>
            <% } %>
            </div>
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box text-end">
              <li class="menu-title">
                <span>Southwest</span>
              </li>
            <% for(var i=0; i<teams.length; i++) {%>
              <% if(teams[i].divName === 'Southwest') { %>
              <li><a href="/team/<%= teams[i].urlName %>" class="justify-end"><%= teams[i].nickname %></a></li>
              <% } %>
            <% } %>
            </div>
          </div>
        </ul>
      </li>
      <li><a href="">Stats</a></li>
      <li tabindex="0">
        <span>Watchlist</span>
        <ul class="rounded-box p-2 bg-base-100 text-sm">
          <div class="flex w-full gap-1">
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box place-items-center">
              <li class="menu-title">
                <span>Atlantic</span>
              </li>
              <% for(var i=0; i<teams.length; i++) {%>
                <% if(teams[i].divName === 'Atlantic') { %>
                  <li><a href="/team/<%= teams[i].urlName %>"><%= teams[i].nickname %></a></li>
                <% } %>
              <% } %>
            </div>
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box text-end">
              <li class="menu-title">
                <span>Central</span>
              </li>
            <% for(var i=0; i<teams.length; i++) {%>
              <% if(teams[i].divName === 'Central') { %>
                <li><a href="/team/<%= teams[i].urlName %>" class="justify-end"><%= teams[i].nickname %></a></li>
                <% } %>
            <% } %>
            </div>
          </div>
          <div class="flex w-full gap-1">
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box place-items-center">
              <li class="menu-title">
                <span>Northwest</span>
              </li>
            <% for(var i=0; i<teams.length; i++) {%>
              <% if(teams[i].divName === 'Northwest') { %>
                <li><a href="/team/<%= teams[i].urlName %>"><%= teams[i].nickname %></a></li>
                <% } %>
            <% } %>
            </div>
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box text-end">
              <li class="menu-title">
                <span>Pacific</span>
              </li>
            <% for(var i=0; i<teams.length; i++) {%>
              <% if(teams[i].divName === 'Pacific') { %>
                <li><a href="/team/<%= teams[i].urlName %>" class="justify-end"><%= teams[i].nickname %></a></li>
                <% } %>
            <% } %>
            </div>
          </div>
          <div class="flex w-full gap-1">
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box place-items-center">
              <li class="menu-title">
                <span>Southeast</span>
              </li>
            <% for(var i=0; i<teams.length; i++) {%>
              <% if(teams[i].divName === 'Southeast') { %>
                <li><a href="/team/<%= teams[i].urlName %>"><%= teams[i].nickname %></a></li>
                <% } %>
            <% } %>
            </div>
            <div class="grid h-fit flex-grow card bg-base-100 rounded-box text-end">
              <li class="menu-title">
                <span>Southwest</span>
              </li>
            <% for(var i=0; i<teams.length; i++) {%>
              <% if(teams[i].divName === 'Southwest') { %>
              <li><a href="/team/<%= teams[i].urlName %>" class="justify-end"><%= teams[i].nickname %></a></li>
              <% } %>
            <% } %>
            </div>
          </div>
        </ul>
      </li>
      <li><a href="/profile/<%= user.id %>">Profile</a></li>
    </ul>
    
    <div class="container border-l-2 border-r-2 border-black">
      <div class="place-items-center mt-5 px-5">
        <form class="flex flex-col" 
              action="/post/createPost" 
              enctype="multipart/form-data" 
              method="POST">
          <textarea class="form-control mb-5 w-100 p-2" id="text" name="text" placeholder="What are you thinking?"></textarea>
          <button type="submit" 
                  class="btn btn-primary bg-white mb-10 w-fit" 
                  value="Upload">Post</button>
        </form>
      </div>
      <ul class="flex-col h-fit">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="flex mb-4 border-b-2 px-5 pb-2 border-black">
            <a class="" href="/post/<%= posts[i]._id%>">
              <% users.forEach(el => { %>
                <% if (String(el._id) == posts[i].userId) { %>
                  <h1 class="font-bold">
                    <%= el.userName %>  
                  </h1>
                <% } %>
              <% }) %>
              <p><%= posts[i].text%></p>
              <p class="text-sm"><%= posts[i].createdAt.toLocaleTimeString()%> <%= posts[i].createdAt.toDateString()%></p>
              <% if(posts[i].userId === user.id) { %>
                <form action="/post/deletePost/<%= posts.id %>?_method=DELETE" method="POST" class="align-self-center justify-self-end">
                  <button class="btn btn-primary fa fa-trash" type="submit">X</button>
                </form>
              <% } %>
            </a>
          </li>
        <% } %>
        </ul>
    </div>

    <div class="hidden md:grid h-fit card bg-amber-500 rounded-box place-items-center mt-3 w-fit px-4">
      <h2 class="mt-5 mb-5 font-bold text-2xl">Today's Games</h2>
      <ul class="mb-5 grid grid-cols-2 gap-3">
        <% for(var i=0; i<games.length; i++) {%>
            <% if((teams.find(team => team.teamId == games[i].vTeam.teamId && team.isNBAFranchise === true)) && (teams.find(team => team.teamId == games[i].vTeam.teamId && team.isNBAFranchise === true))) {%>
              <div class="card w-100 bg-white shadow-xl">
                <div class="card-body p-4">
                  <span><%= (time.valueOf() >= Date.parse(games[i].startTimeUTC)) ? games[i].period.current : games[i].startTimeEastern %></span>
                  <div class="flex gap-1">
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= teams.find(team => team.teamId == games[i].vTeam.teamId).tricode === 'PHX' ? 'PHO' : teams.find(team => team.teamId == games[i].vTeam.teamId).tricode %>.png" 
                    alt="<%= teams.find(team => team.teamId == games[i].vTeam.teamId).nickname %> Logo" class="h-7">
                    <li>
                      <%= teams.find(team => team.teamId == games[i].vTeam.teamId).tricode %>
                    </li>
                  </div>
                  <span>@</span>
                  <div class="flex gap-1">
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= teams.find(team => team.teamId == games[i].hTeam.teamId).tricode === 'PHX' ? 'PHO' : teams.find(team => team.teamId == games[i].hTeam.teamId).tricode %>.png" 
                         alt="<%= teams.find(team => team.teamId == games[i].hTeam.teamId).nickname %> Logo" class="h-7">
                    <li>
                      <%= teams.find(team => team.teamId == games[i].hTeam.teamId).tricode %>
                    </li>
                  </div>
                </div>
              </div>
            <% } %>
        <% } %>
      </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>