<%- include('partials/header') -%>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5 px-5">

    <div class="hidden md:grid flex-grow h-fit card bg-white rounded-box p-5 mt-3 md:visible w-fit justify-self-end">
      <h2 class="justify-self-center text-2xl font-bold">Find Stats</h2>
      <h3>
        <a href="/schedule/202210">Schedule</a>
      </h3>
      <h3>
        <a href="">Standings</a>
      </h3>
      <h3>
        <a href="">Teams</a>
      </h3>
      <h3>
        <a href="">Stats</a>
      </h3>
      
      <div class="hidden md:grid h-fit card bg-amber-500 rounded-box place-items-center mt-3 w-fit px-4">
        <h3 class="mt-5 mb-5 font-bold text-2xl"><%= user.userName %>'s Watchlist</h3>
        <ul class="mb-5">
          <% for(var i=0; i<players.length; i++) {%>
            <li>
              <a href="/player/<%= players[i].playerId %>">
                <span>
                  <%= players[i].playerName %>
                </span>
              </a>
              <span>
                  <%= players[i].playerPosition %>
              </span>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
    
    <div class="container border-l-2 border-r-2 border-black">
      <div class="place-items-center mt-5 px-5">
        <form class="flex flex-col" 
              action="/post/createPost" 
              enctype="multipart/form-data" 
              method="POST">
          <textarea class="form-control mb-5 w-100 p-2" id="text" name="text" placeholder="What are you thinking?"></textarea>
          <button type="submit" 
                  class="btn btn-primary bg-white mb-10 w-fit" 
                  value="Upload">Post</button>
        </form>
      </div>
      <ul class="flex-col h-fit">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="flex mb-4 border-b-2 px-5 pb-2 border-black">
            <a class="" href="/post/<%= posts[i]._id%>">
              <% users.forEach(el => { %>
                <% if (String(el._id) == posts[i].userId) { %>
                  <h1 class="font-bold">
                    <%= el.userName %>  
                  </h1>
                <% } %>
              <% }) %>
              <p><%= posts[i].text%></p>
              <p class="text-sm"><%= posts[i].createdAt.toLocaleTimeString()%> <%= posts[i].createdAt.toDateString()%></p>
              <% if(posts[i].userId === user.id) { %>
                <form action="/post/deletePost/<%= posts.id %>?_method=DELETE" method="POST" class="align-self-center justify-self-end">
                  <button class="btn btn-primary fa fa-trash" type="submit">X</button>
                </form>
              <% } %>
            </a>
          </li>
        <% } %>
        </ul>
    </div>

    <div class="hidden md:grid h-fit card bg-amber-500 rounded-box place-items-center mt-3 w-fit px-4">
      <h2 class="mt-5 mb-5 font-bold text-2xl">Today's Games</h2>
      <ul class="mb-5 grid grid-cols-2 gap-3">
        <% for(var i=0; i<games.length; i++) {%>
            <% if((teams.find(team => team.teamId == games[i].vTeam.teamId && team.isNBAFranchise === true)) && (teams.find(team => team.teamId == games[i].vTeam.teamId && team.isNBAFranchise === true))) {%>
              <div class="card w-100 bg-white shadow-xl">
                <div class="card-body p-4">
                  <span><%= (time.valueOf() >= Date.parse(games[i].startTimeUTC)) ? games[i].period.current : games[i].startTimeEastern %></span>
                    <div class="flex gap-1">
                      <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= teams.find(team => team.teamId == games[i].hTeam.teamId).tricode === 'PHX' ? 'PHO' : teams.find(team => team.teamId == games[i].hTeam.teamId).tricode %>.png" 
                           alt="<%= teams.find(team => team.teamId == games[i].hTeam.teamId).nickname %> Logo" class="h-7">
                      <li>
                        <%= teams.find(team => team.teamId == games[i].hTeam.teamId).tricode %>
                      </li>
                    </div>
            
                    <div class="flex gap-1">
                      <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= teams.find(team => team.teamId == games[i].vTeam.teamId).tricode === 'PHX' ? 'PHO' : teams.find(team => team.teamId == games[i].vTeam.teamId).tricode %>.png" 
                           alt="<%= teams.find(team => team.teamId == games[i].vTeam.teamId).nickname %> Logo" class="h-7">
                      <li>
                        <%= teams.find(team => team.teamId == games[i].vTeam.teamId).tricode %>
                      </li>
                    </div>
                </div>
              </div>
            <% } %>
        <% } %>
      </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>