<%- include('partials/header') -%>
<div class="mx-3 md:mx-10 lg:mx-20">
  <div class="card card-side bg-base-100 shadow-xl mt-3">
    <figure class="w-50">
      <img src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/<%= picId %>.png" alt="headshot"/>
    </figure>
    <div class="card-body p-3 text-sm md:text-base shrink min-w-1/2">
      <div class="flex gap-2">
        <h2 class="card-title text-2xl"><%= player.full_name %></h2>
        <!-- Add player to watchlist -->
        <div class="card-actions justify-start">
          <% if(!onWatchlist.some(playerData => playerData.playerId == player.id && playerData.user == user.id )) { %>
            <form action="/player/<%= player.id %>" method="POST">
              <button type="submit" 
                      class="bg-amber-500 shadow-sm border-transparent px-5 pt-3 pb-3 rounded-box w-full hover:bg-amber-600 fa fa-plus" 
                      >
              </button>
            </form>
          <% } else { %>
            <form action="/player/<%= player.id %>?_method=DELETE" method="POST">
              <button type="submit" 
                      class="bg-amber-500 shadow-sm border-transparent px-5 pt-3 pb-3 rounded-box w-full hover:bg-amber-600 fa fa-minus" 
                      >
              </button>
            </form>
          <% } %>
        </div>
      </div>
      <span><span class="font-bold">Team:</span> <a class="link link-hover" href="/team/<%= player.team.id %>"><%= player.team.name %></a></span>
      <span><span class="font-bold">Position:</span> <%= player.position %></span>
      <span><span class="font-bold">Jersey Number:</span> <%= player.jersey_number %></span>
      <span><span class="font-bold">Height:</span> <%= (player.height/12).toFixed(0) %>' <%= player.height % 12 %>"</span>
      <span><span class="font-bold">Weight:</span> <%= player.weight %> lbs</span>
      <span><span class="font-bold">Drafted:</span> <%= player.rookie_year %> / Round <%= player.draft.round %> / Pick <%= player.draft.pick %> 
       / <a class="link link-hover" href="/team/<%= player.draft.team_id %>"><%= player.seasons[player.seasons.length - 1].teams[0].name %></span></a>
      <span><span class="font-bold">Born:</span> <%= player.birthdate %></span>
    </div>
  </div>
  <div class="overflow-x-auto mt-3 mb-5">
    <table class="table table-compact w-full text-xs md:text-base">
      <!-- head -->
      <thead>
        <tr>
          <th>Season</th>
          <th>TM</th>
          <th>GP</th>
          <th>MIN</th>
          <th>PTS</th>
          <th>FGM</th>
          <th>FGA</th>
          <th>FG%</th>
          <th>3PM</th>
          <th>3PA</th>
          <th>3P%</th>
          <th>FTM</th>
          <th>FTA</th>
          <th>FT%</th>
          <th>OREB</th>
          <th>DREB</th>
          <th>REB</th>
          <th>AST</th>
          <th>TOV</th>
          <th>STL</th>
          <th>BLK</th>
          <th>PF</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <% for(var i=0; i<player.seasons.length; i++) {%>
          <% if(player.seasons[i].teams.length > 1) { %>
          <% for(var j=0; j<player.seasons[i].teams.length; j++) { %>
          <tr class="hover">
            <th><%= player.seasons[i].year %></th>
            <th>
              <a class="link link-hover" href="/team/<%= player.seasons[i].teams[0].id %>">
                <%= player.seasons[i].teams[0].alias %>
              </a>
            </th>
            <td><%= player.seasons[i].teams[j].total.games_played %></td>
            <td><%= player.seasons[i].teams[j].average.minutes %></td>
            <td><%= player.seasons[i].teams[j].average.points %></td>
            <td><%= (player.seasons[i].teams[j].average.field_goals_made).toFixed(1) %></td>
            <td><%= (player.seasons[i].teams[j].average.field_goals_att).toFixed(1) %></td>
            <td><%= (player.seasons[i].teams[j].total.field_goals_pct * 100).toFixed(0) %></td>
            <td><%= (player.seasons[i].teams[j].average.three_points_made).toFixed(1) %></td>
            <td><%= (player.seasons[i].teams[j].average.three_points_att).toFixed(1) %></td>
            <td><%= (player.seasons[i].teams[j].total.three_points_pct * 100).toFixed(0) %></td>
            <td><%= (player.seasons[i].teams[j].average.free_throws_made).toFixed(1)%></td>
            <td><%= (player.seasons[i].teams[j].average.free_throws_att).toFixed(1) %></td>
            <td><%= (player.seasons[i].teams[j].total.free_throws_pct * 100).toFixed(0) %></td>
            <td><%= (player.seasons[i].teams[j].average.off_rebounds).toFixed(1) %></td>
            <td><%= (player.seasons[i].teams[j].average.def_rebounds).toFixed(1) %></td>
            <td><%= player.seasons[i].teams[j].average.rebounds.toFixed(1) %></td>
            <td><%= player.seasons[i].teams[j].average.assists %></td>
            <td><%= player.seasons[i].teams[j].average.turnovers.toFixed(1) %></td>
            <td><%= player.seasons[i].teams[j].average.steals.toFixed(1) %></td>
            <td><%= player.seasons[i].teams[j].average.blocks.toFixed(1) %></td>
            <td><%= (player.seasons[i].teams[j].average.personal_fouls).toFixed(1) %></td>
          </tr>
          <% } %>
          <% } else { %>
            <tr class="hover">
              <th><%= player.seasons[i].year %></th>
              <th>
                <a class="link link-hover" href="/team/<%= player.seasons[i].teams[0].id %>">
                  <%= player.seasons[i].teams[0].alias %>
                </a>
              </th>
              <td><%= player.seasons[i].teams[0].total.games_played %></td>
              <td><%= player.seasons[i].teams[0].average.minutes %></td>
              <td><%= player.seasons[i].teams[0].average.points %></td>
              <td><%= (player.seasons[i].teams[0].average.field_goals_made).toFixed(1) %></td>
              <td><%= (player.seasons[i].teams[0].average.field_goals_att).toFixed(1) %></td>
              <td><%= (player.seasons[i].teams[0].total.field_goals_pct * 100).toFixed(0) %></td>
              <td><%= (player.seasons[i].teams[0].average.three_points_made).toFixed(1) %></td>
              <td><%= (player.seasons[i].teams[0].average.three_points_att).toFixed(1) %></td>
              <td><%= (player.seasons[i].teams[0].total.three_points_pct* 100).toFixed(0) %></td>
              <td><%= (player.seasons[i].teams[0].average.free_throws_made).toFixed(1)%></td>
              <td><%= (player.seasons[i].teams[0].average.free_throws_att).toFixed(1) %></td>
              <td><%= (player.seasons[i].teams[0].total.free_throws_pct * 100).toFixed(0) %></td>
              <td><%= (player.seasons[i].teams[0].average.off_rebounds).toFixed(1) %></td>
              <td><%= (player.seasons[i].teams[0].average.def_rebounds).toFixed(1) %></td>
              <td><%= player.seasons[i].teams[0].average.rebounds.toFixed(1) %></td>
              <td><%= player.seasons[i].teams[0].average.assists %></td>
              <td><%= player.seasons[i].teams[0].average.turnovers.toFixed(1) %></td>
              <td><%= player.seasons[i].teams[0].average.steals.toFixed(1) %></td>
              <td><%= player.seasons[i].teams[0].average.blocks.toFixed(1) %></td>
              <td><%= (player.seasons[i].teams[0].average.personal_fouls).toFixed(1) %></td>
            </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/footer') -%>