<%- include('partials/header') -%>
<div class="grid md:grid-cols-4 lg:grid-cols-3 grid-cols-1 justify-center h-fit px-3 md:px-10 sm:px-5 pb-5 mb-5">
  <div></div>
  <!-- Post -->
  <div>
    <div class="card w-full col-start-2 h-fit bg-white shadow-xl mt-10">
      <div class="card-body">
        <div class="flex justify-between">
          <% for (let j = 0; j < users.length; j++) { %>
            <% if (String(users[j]._id) === String(post.userId)) { %>
          <a class="font-bold text-xl text-decoration-none link link-hover" href="/profile/<%= users[j]._id %>"><%= users[j].userName %></a>
            <% } %>
          <% } %>
          <% if(post.userId == user.id) { %>
            <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="align-self-center justify-self-end">
              <button class="fa fa-trash" type="submit"></button>
            </form>
            <% } %>
          </div>
        <div class="flex flex-col gap-2">
          <p class="text-xl"><%= post.text %></p>
          <div class="flex gap-2">
            <% if(!post.likedBy.includes(user.id)) { %>
            <form action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
              <button class="gap-1 bg-base-100" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-white hover:fill-red-500" stroke="red" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
              </button>
            </form>
            <% } else { %>
              <form action="/post/unlikePost/<%= post.id %>?_method=PUT" method="POST">
                <button class="gap-1 bg-base-100" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-red-500 hover:fill-red-800" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
                </button>
              </form>
            <% } %>
            <span><%= post.likes %></span>
          </div>
        </div>
        <span class="text-sm"><%= post.createdAt.toLocaleTimeString()%> <%= post.createdAt.toDateString()%></span>
        <!-- Reply to post-->
        <form class="flex flex-col mt-10" 
              action="/comment/createComment/<%= post.id %>"
              method="POST">
            <textarea class="form-control mb-5 w-100 p-2 focus-visible:outline-none bg-white rounded-box" id="comment" name="comment" placeholder="Reply"></textarea>
          <div class="card-actions justify-end">
            <button type="submit" 
            class="bg-amber-500 b-transparent px-5 pt-3 pb-3 rounded-box w-fit shadow-md hover:bg-amber-600 font-medium text-lg" 
            value="Upload">reply</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Show comments -->
    <div class="container">
      <% for (let i=comments.length - 1; i >= 0; i--) {%>
        <div class="card w-full bg-white shadow-xl mt-2">
          <div class="card-body">
            <div class="card-actions justify-between">
            <% for(let j = 0; j < users.length; j++) { %>
              <% if(String(users[j]._id) == String(comments[i].userId)) { %>
              <a class="font-bold text-reset text-decoration-none link link-hover" href="/profile/<%= users[j]._id %>"><%= users[j].userName %></a>
              <% } %>
            <% } %>
              <% if(user.id == String(comments[i].userId)) { %>
                <form action="/comment/deleteComment/<%= post.id %>/<%= comments[i]._id %>?_method=DELETE" method="POST" class="align-self-center justify-self-end">
                  <button class="fa fa-trash" type="submit"></button>
                </form>
              <% } %>
            </div>
            <p><%= comments[i].comment %></p>
            <div class="flex gap-2">
              <% if(!comments[i].likedBy.includes(user.id)) { %>
              <form action="/comment/likeComment/<%= post.id %>/<%= comments[i]._id %>?_method=PUT" method="POST">
                <button class="gap-1 bg-base-100" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-white hover:fill-red-500" stroke="red" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
                </button>
              </form>
              <% } else { %>
                <form action="/comment/unlikeComment/<%= post.id %>/<%= comments[i]._id %>?_method=PUT" method="POST">
                  <button class="gap-1 bg-base-100" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 fill-red-500 hover:fill-red-800" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
                  </button>
                </form>
              <% } %>
              <%= comments[i].likes %>
            </div>
            <span class="text-sm"><%= comments[i].createdAt.toLocaleTimeString()%> <%= comments[i].createdAt.toDateString()%></span>
          </div>
        </div>
      <% } %>
    </div>
  </div>

  <div></div>
</div>

<%- include('partials/footer') -%>
