<%- include('partials/header') -%>
<div class="grid justify-center h-screen">
  <div class="card w-96 h-fit bg-base-100 shadow-xl mt-10">
    <div class="card-body">
      <div class="flex">
        <p class="text-xl"><%= post.text %></p>
        <% if(post.userId == user.id) { %>
          <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="align-self-center justify-self-end">
            <button class="fa fa-trash" type="submit"></button>
          </form>
        <% } %>
      </div>
      <span class="text-sm"><%= post.createdAt %></span>
      <form action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
        <button class="btn gap-2 bg-base-100" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="red" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
          <%= post.likes %>
        </button>
      </form>
    </div>
  </div>

</div>

<%- include('partials/footer') -%>
