<%- include('partials/header') -%>
<div class="flex justify-center mt-3">
  <div class="btn-group">
    <a href="/schedule/202210" class="btn btn-primary">October</a>
    <a href="/schedule/202211" class="btn btn-primary">November</a>
    <a href="/schedule/202212" class="btn btn-primary">December</a>
    <a href="/schedule/202301" class="btn btn-primary">January</a>
    <a href="/schedule/202302" class="btn btn-primary">February</a>
    <a href="/schedule/202303" class="btn btn-primary">March</a>
    <a href="/schedule/202304" class="btn btn-primary">April</a>
  </div>
</div>

<div class="overflow-x-auto mt-3">
  <table class="table table-zebra w-fit mx-auto">
    <!-- head -->
    <thead>
      <tr>
        <th>Date</th>
        <th>Time (ET)</th>
        <th>Visitor</th>
        <th>Home</th>
      </tr>
    </thead>
    <tbody class="hover">
      <!-- row 1 -->
      <% for(var i=0; i<schedule.length; i++) {%>
        <tr>
          <td><%= new Date(schedule[i].startTimeUTC).toDateString() %></td>
          <td><%= schedule[i].startTimeEastern %></td>
          <td>
            <div class="flex gap-1">
              <% if(teams.find(team => team.teamId === schedule[i].vTeam.teamId).tricode === 'BKN') {%>
                <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NJN.png" alt="<%= teams.find(team => team.teamId === schedule[i].vTeam.teamId).nickname %> Logo" class="h-8">
              <% } else if(teams.find(team => team.teamId === schedule[i].vTeam.teamId).tricode === 'PHX') {%>
                <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/PHO.png" alt="<%= teams.find(team => team.teamId === schedule[i].vTeam.teamId).nickname %> Logo" class="h-8">
              <% } else if(teams.find(team => team.teamId === schedule[i].vTeam.teamId).tricode === 'NOP') {%>
                <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NOH.png" alt="<%= teams.find(team => team.teamId === schedule[i].vTeam.teamId).nickname %> Logo" class="h-8">
              <% } else {%>
                <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= teams.find(team => team.teamId === schedule[i].vTeam.teamId).tricode %>.png" alt="<%= teams.find(team => team.teamId === schedule[i].vTeam.teamId).nickname %> Logo" class="h-8">
              <% } %>
              <a class="link link-hover" href="/team/<%= teams.find(team => team.teamId === schedule[i].vTeam.teamId).urlName %>">
                <%= teams.find(team => team.teamId === schedule[i].vTeam.teamId).fullName %>
              </a>
            </div>
          </td>
          <td>
            <div class="flex gap-1">
              <% if(teams.find(team => team.teamId === schedule[i].hTeam.teamId).tricode === 'BKN') {%>
                <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NJN.png" alt="<%= teams.find(team => team.teamId === schedule[i].hTeam.teamId).nickname %> Logo" class="h-8">
              <% } else if(teams.find(team => team.teamId === schedule[i].hTeam.teamId).tricode === 'PHX') {%>
                <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/PHO.png" alt="<%= teams.find(team => team.teamId === schedule[i].hTeam.teamId).nickname %> Logo" class="h-8">
              <% } else if(teams.find(team => team.teamId === schedule[i].hTeam.teamId).tricode === 'NOP') {%>
                <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NOH.png" alt="<%= teams.find(team => team.teamId === schedule[i].hTeam.teamId).nickname %> Logo" class="h-8">
              <% } else {%>
                <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= teams.find(team => team.teamId === schedule[i].hTeam.teamId).tricode %>.png" alt="<%= teams.find(team => team.teamId === schedule[i].hTeam.teamId).nickname %> Logo" class="h-8">
              <% } %>
              <a class="link link-hover" href="/team/<%= teams.find(team => team.teamId === schedule[i].hTeam.teamId).urlName %>">
                <%= teams.find(team => team.teamId === schedule[i].hTeam.teamId).fullName %>
              </a>
            </div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>


<%- include('partials/footer') -%>