<%- include('partials/header') -%>
<div class="md:grid grid-cols-1 md:grid-cols-4 lg:grid-cols-5 gap-5 px-4">
  <!-- SideNav Desktop -->
  <%- include('partials/sidenav') -%>
  <!--  Month Schedule-->
  <div class="md:col-span-2 lg:col-span-3">
  <!-- Mobile nav -->
  <%- include('partials/mobilenav') -%>
  <ul class="menu menu-horizontal mt-3 shadow-2xl rounded-box w-full md:hidden bg-white justify-between">
    <li>
      <a class="p-3 active:bg-gray-300" href="/schedule/202210">Oct</a>
    </li>
    <li>
      <a class="p-3 active:bg-gray-300" href="/schedule/202211">Nov</a>
    </li>
    <li>
      <a class="p-3 active:bg-gray-300" href="/schedule/202212">Dec</a>
    </li>
    <li>
      <a class="p-3 active:bg-gray-300" href="/schedule/202301">Jan</a>
    </li>
    <li>
      <a class="p-3 active:bg-gray-300" href="/schedule/202302">Feb</a>
    </li>
    <li>
      <a class="p-3 active:bg-gray-300" href="/schedule/202303">Mar</a>
    </li>
    <li>
      <a class="p-3 active:bg-gray-300" href="/schedule/202304">Apr</a>
    </li>
  </ul>
  <div class="overflow-x-auto mt-3">
    <table class="table table-compact w-full mx-auto text-xs md:text-base bg-white">
      <!-- head -->
      <thead>
        <tr>
          <td>Date</td>
          <th>Time (ET)</th>
          <th>Visitor</th>
          <th>Score</th>
          <th>Home</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody class="hover tr-color">
        <!-- row 1 -->
        <% for(var i=0; i<schedule.length; i++) { %>
          <% for(var j=0; j<schedule[i].games.length; j++) { %>
            <tr class="hover">
              <td><%= new Date(schedule[i].games[j].gameDateEst).toDateString() %></td>
              <td class="text-center"><%= Number(schedule[i].games[j].gameTimeEst.slice(11,13)) > 12 ? `${Number(schedule[i].games[j].gameTimeEst.slice(11,13)) - 12}${schedule[i].games[j].gameTimeEst.slice(13,16)}pm` : `${schedule[i].games[j].gameTimeEst.slice(12,16)}am` %></td>
              <td>
                <div class="flex gap-1">
                  <% if(schedule[i].games[j].awayTeam.teamTricode === 'BKN') {%>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NJN.png" alt="<%= schedule[i].games[j].awayTeam.teamName %> Logo" class="h-8">
                  <% } else if(schedule[i].games[j].awayTeam.teamTricode === 'PHX') {%>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/PHO.png" alt="<%= schedule[i].games[j].awayTeam.teamName %> Logo" class="h-8">
                  <% } else if(schedule[i].games[j].awayTeam.teamTricode === 'NOP') {%>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NOH.png" alt="<%= schedule[i].games[j].awayTeam.teamName %> Logo" class="h-8">
                  <% } else {%>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= schedule[i].games[j].awayTeam.teamTricode %>.png" alt="<%= schedule[i].games[j].awayTeam.teamName %> Logo" class="h-8">
                  <% } %>
                  <a class="link link-hover self-center" href="/team/<%= schedule[i].games[j].awayTeam.teamSlug %>">
                    <%= schedule[i].games[j].awayTeam.teamName %>
                  </a>
                </div>
              </td>
              <td><%= schedule[i].games[j].awayTeam.score %></td>
              <td>
                <div class="flex gap-1">
                  <% if(schedule[i].games[j].homeTeam.teamTricode === 'BKN') { %>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NJN.png" alt="<%= schedule[i].games[j].homeTeam.teamName %> Logo" class="h-8">
                  <% } else if(schedule[i].games[j].homeTeam.teamTricode === 'PHX') {%>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/PHO.png" alt="<%= schedule[i].games[j].homeTeam.teamName %> Logo" class="h-8">
                  <% } else if(schedule[i].games[j].homeTeam.teamTricode === 'NOP') {%>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NOH.png" alt="<%= schedule[i].games[j].homeTeam.teamName %> Logo" class="h-8">
                  <% } else {%>
                    <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= schedule[i].games[j].homeTeam.teamTricode %>.png" alt="<%= schedule[i].games[j].homeTeam.teamName %> Logo" class="h-8">
                  <% } %>
                  <a class="link link-hover self-center" href="/team/<%= schedule[i].games[j].homeTeam.teamSlug %>">
                    <%= schedule[i].games[j].homeTeam.teamName %>
                  </a>
                </div>
              </td>
              <td><%= schedule[i].games[j].homeTeam.score %></td>
            </tr>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
  </div>
  <!-- Pick monthly schedule -->
  <ul class="menu p-2 mt-3 shadow-lg rounded-box hidden md:grid flex-grow h-fit bg-white md:visible justify-self-start text-xl md:w-fit lg:w-56 z-10">
    <li>
      <a href="/schedule/202210" class="active:bg-gray-300">October</a>
    </li>
    <li>
      <a href="/schedule/202211" class="active:bg-gray-300">November</a>
    </li>
    <li>
      <a href="/schedule/202212" class="active:bg-gray-300">December</a>
    </li>
    <li>
      <a href="/schedule/202301" class="active:bg-gray-300">January</a>
    </li>
    <li>
      <a href="/schedule/202302" class="active:bg-gray-300">February</a>
    </li>
    <li>
      <a href="/schedule/202303" class="active:bg-gray-300">March</a>
    </li>
    <li>
      <a href="/schedule/202304" class="active:bg-gray-300">April</a>
    </li>
  </ul>

</div>
<%- include('partials/footer') -%>