<%- include('partials/header') -%>
<div class="flex justify-center mt-2 mb-2 mx-2">
  <div class="flex gap-2">
    <% if(team.tricode === 'BKN') {%>
      <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NJN.png" alt="<%= team.nickname %> Logo" class="h-10 rounded">
    <% } else if(team.tricode === 'PHX') {%>
      <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/PHO.png" alt="<%= team.nickname %> Logo" class="h-10 rounded">
    <% } else if(team.tricode === 'NOP') {%>
      <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/NOH.png" alt="<%= team.nickname %> Logo" class="h-10 rounded">
    <% } else {%>
      <img src="https://cdn.ssref.net/req/202209231/tlogo/bbr/<%= team.tricode %>.png" alt="<%= team.nickname %> Logo" class="h-10 rounded">
    <% } %>
    <h1 class="font-bold text-3xl"> <%= team.fullName %> Roster</h1>
  </div>
</div>
<div class="flex justify-center w-75 px-3">
  <div class="overflow-x-auto col-span-2">
    <table class="table w-full text-s md:text-base">
      <!-- head -->
      <thead>
        <tr>
          <th>Player No.</th>
          <th>Name</th>
          <th>Primary Position</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<players.length; i++) {%>
        <!-- row 1 -->
        <tr class="hover">
          <th><%= players[i].jersey %></th>
          <td>
            <form action="/player/<%= players[i].personId %>" method="GET">
              <button class="link link-hover" type="submit">
                <%= players[i].firstName %> <%= players[i].lastName %>
              </button>
            </form>
          </td>
          <td class="text-center"><%= players[i].pos %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/footer') -%>